/* Common Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1.title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  /* Header Styles */
  header {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .exchange-rates {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .rate {
    flex-basis: 48%;
    border: 1px solid #e0a890;
    padding: 10px;
  }
  
  /* Converter Styles */
  .converter {
    background-color: #f2f2f2; /* Main background color */
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-row {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #e0a890;
  }
  
  .swap-button { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e0a890; /* Button color */
    color: #fff;
    cursor: pointer;
    margin: 10px auto;
  }
  
  .swap-button i {
    font-size: 16px;
  }
  
  input[readonly] {
    background-color: #f2f2f2;
    cursor: not-allowed;
  }
  
  .swap-button {
    text-align: center;
  }
  
  .round-button {
    background-color: #e0a890; /* Button color */
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .round-button:hover {
    background-color: #3d3333; /* Button color on hover */
  }
  