<!-- app.component.html -->
<header>
  <h1 class="title">Currency Converter</h1>
  <div class="exchange-rates">
    <div class="rate">
      <h2>UAH to USD</h2>
      <p>{{ 1 / exchangeRates?.USD }}</p>
    </div>
    <div class="rate">
      <h2>UAH to EUR</h2>
      <p>{{ 1 / exchangeRates?.EUR }}</p>
    </div>
  </div>
</header>

<div class="converter">
  <h1 class="title">Currency Converter</h1>
  <form [formGroup]="currencyConverterForm">
    <div class="form-row">
      <label for="amount1">Amount 1:</label>
      <input type="number" id="amount1" formControlName="amount1" placeholder="Enter amount">
    </div>
    <div class="form-row">
      <label for="currency1">From:</label>
      <select id="currency1" formControlName="currency1">
        <option *ngFor="let currency1 of currencies" [value]="currency1">{{ currency1 }}</option>
      </select>
    </div>
      <div class="form-row">
        <div class="swap-button">
          <button class="swap-button-icon round-button" (click)="swapCurrenciesButton()">swap currencies</button>
        </div>
      </div>
      
      <div class="form-row">
      <label for="amount2">Amount 2:</label>
      <input type="number" id="amount2" [value]="amount2" readonly placeholder="Converted Amount">
    </div>
    <div class="form-row">
      <label for="currency2">To:</label>
      <select id="currency2" formControlName="currency2">
        <option *ngFor="let currency2 of updateConvertedCurrencies()" [value]="currency2">{{ currency2 }}</option>
      </select>
    </div>
  </form>
</div>
